@model List<ResultBottomGridDto>
 <!-- /bottom-grids-->
<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box no-box-shadow">
                        <span class="@item.icon"></span>
                        <h4><a href="#feature" class="title-head">@item.title</a></h4>
                        <p>@item.description</p>
                        <a href="#more" class="more">Read More <span class="fa fa-long-arrow-right"></span> </a>
                    </div>
                </div>
            }
    </div>
</section>
<!-- //bottom-grids-->